@import "~bootstrap/scss/bootstrap";
@import "resources/scss/partials/_variables.scss";

nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.brand {
    padding: 0.5rem;
}

img {
    height: 100%;
}

.navbar-links {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0.5rem;
    color: #464646;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
}

.border-b {
    border-bottom: $primary-color 2px solid;
    // position: relative;
    // top: 35px;
    display: none;
}

.nav-link:hover .border-b {
    display: block;
}

.nav-link:hover {
    color: $primary-color;
}

//CARDS

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 0;

    & .box {
        width: calc(100% / 4);
    }
}

.current {
    position: absolute;
    top: 330px;
    left: 135px;
    z-index: 10;
}

button {
    border: none;
    padding: 0.5rem 3rem;
    font-size: 1em;
    font-weight: bold;
    font-family: inherit;
    background-color: $primary-color;
    cursor: pointer;
    color: white;
}

header {
    height: 100px;
}

#main-top {
    height: 350px;
    background-image: url(/resources/img/jumbotron.jpg);
    background-color: $secondary-color;
    background-size: cover;
    background-repeat: no-repeat;
}

#main-bottom {
    background-color: #1c1c1c;
}

#blue {
    height: 150px;
    background-color: $primary-color;
}

#gray {
    height: 100px;
    background-color: $secondary-color;
}

footer {
    height: 350px;
    // background-image: url(/footer-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    min-width: 50%;
    width: 80%;
    margin: 0 auto;
    overflow-x: hidden;
}

h1 {
    color: white;
}
